*.o
*.a
Makefile
*.bak
include/*
lib*.so*
*._man
clients/audio/auconvert/auconvert
clients/audio/auctl/auctl
clients/audio/audemo/audemo
clients/audio/audial/audial
clients/audio/auedit/auedit
clients/audio/auinfo/auinfo
clients/audio/aupanel/aupanel
clients/audio/auphone/auphone
clients/audio/auplay/auplay
clients/audio/aurecord/aurecord
clients/audio/autool/autool
clients/audio/auwave/auwave
clients/audio/examples/bundle
clients/audio/examples/loopBucket
clients/audio/examples/playFile
clients/audio/examples/playFromBckt
clients/audio/examples/playRaw
clients/audio/examples/playSimul
clients/audio/examples/plyBcktAsync
clients/audio/examples/recordBucket
clients/audio/util/issndfile
clients/audio/util/playbucket
clients/audio/util/soundtoh
config/config.h
config/config.log
config/config.status
config/libtool
lib/audio/release.h
server/dia/gram.c
server/dia/gram.h
server/dia/lex.c
server/dia/release.h
server/nasd
